 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/DesktopScreenshot2023.07.10-01.30.33.55.png");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1120px;
  margin: 120px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 591px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 52px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 23px 207px 0 279px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 31px 8px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 239px;
  min-height: 16px;
  width: 488px;
  min-width: 42px;
  margin: 23px 228px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 32px;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 190%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1 .u-text-1 {
    width: 327px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 10px;
    margin-right: 174px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 215%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 5px 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-right: 168px;
    margin-left: 201px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 25px;
    margin-right: 70px;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 715px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-1 .u-text-1 {
    width: 346px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 127px;
    width: 264px;
    margin-right: 28px;
  }
}